
{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
       <meta charset="UTF-8">
       <meta name="viewport" content="width=device-width,initial-scale=1">
       <title> Feedback Form</title>
       <meta name="description" content="">
       <link rel="stylesheet" href="{% static 'css/feedback.css' %}">


</head>
<body>


<div class="form-box">
   <h2>Client Feedback </h2>
   <form method="POST" action="{% url 'welcome' %}" enctype="application/x-www-form-urlencoded"
           onsubmit="alert('Thanks for your feedback!');">
       {% csrf_token %}


       <!-- Question 1 -->
       <div class="question">
           <p>1.How would you rate  your visit today?</p>
           <label><input type="radio" name="q1" value="4"> Excellent</label>
           <label><input type="radio" name="q1" value="3"> Good</label>
           <label><input type="radio" name="q1" value="2"> Fair</label>
           <label><input type="radio" name="q1" value="1"> Poor</label>
       </div>
<hr>
       <!-- Question 2 -->
       <div class="question">
           <p>2.How would you rate the service speed?</p>
           <label><input type="radio" name="q2" value="4"> Excellent</label>
           <label><input type="radio" name="q2" value="3"> Good</label>
           <label><input type="radio" name="q2" value="2"> Fair</label>
           <label><input type="radio" name="q2" value="1"> Poor</label>
       </div>
<hr>
       <!-- Question 3 -->
       <div class="question">
           <p>3.How would you rate your stylist in being prepared for your service?</p>
           <label><input type="radio" name="q3" value="4"> Excellent</label>
           <label><input type="radio" name="q3" value="3"> Good</label>
           <label><input type="radio" name="q3" value="2"> Fair</label>
           <label><input type="radio" name="q3" value="1"> Poor</label>
       </div>
<hr>
       <!-- Question 4 -->
       <div class="question">
           <p>4. How would you rate your stylist in terms of professionalism?</p>
           <label><input type="radio" name="q4" value="4"> Excellent</label>
           <label><input type="radio" name="q4" value="3"> Good</label>
           <label><input type="radio" name="q4" value="2"> Fair</label>
           <label><input type="radio" name="q4" value="1"> Poor</label>
       </div>
<hr>
       <!-- Question 5 -->
       <div class="question">
           <p>5.How would you rate your stylist in terms of friendliness?</p>
           <label><input type="radio" name="q5" value="4"> Excellent</label>
           <label><input type="radio" name="q5" value="3"> Good</label>
           <label><input type="radio" name="q5" value="2"> Fair</label>
           <label><input type="radio" name="q5" value="1"> Poor</label>
       </div>
      
<hr>
           <!-- Question 6 -->
       <div class="question">
           <p>6.How would you describe the attitude of your stylist?</p>
           <label><input type="radio" name="q6" value="4"> Excellent</label>
           <label><input type="radio" name="q6" value="3"> Good</label>
           <label><input type="radio" name="q6" value="2"> Fair</label>
           <label><input type="radio" name="q6" value="1"> Poor</label>
            </div>


<hr>
                       <!-- Question 7 -->
       <div class="question">
           <p>7.How would you rate your stylist on their client consultation??</p>
           <label><input type="radio" name="q7" value="4"> Excellent</label>
           <label><input type="radio" name="q7" value="3"> Good</label>
           <label><input type="radio" name="q7" value="2"> Fair</label>
           <label><input type="radio" name="q7" value="1"> Poor</label>
            </div>
<hr>
                            <!-- Question 8 -->
       <div class="question">
           <p>8.How would you rate your overall experience??</p>
           <label><input type="radio" name="q8" value="4"> Excellent</label>
           <label><input type="radio" name="q8" value="3"> Good</label>
           <label><input type="radio" name="q8" value="2"> Fair</label>
           <label><input type="radio" name="q8" value="1"> Poor</label>
            </div>
<hr>


          
       <!-- Feedback -->
       <div class="question">
           <p>Feedback:</p>
           <textarea placeholder="Type your feedback here..."></textarea>
       </div>


       <button type="submit">Submit</button>


   </form>
</div>


</body>
</html>
